* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
}

.restartButton {
    width: 60px;
    margin-bottom: 20px;
    margin-left: 225px;
}

.title {
    text-align: center;
    font-size: 100px;
}

.player-container {
    height: 100px;
    width: 400px;
    border: 5px solid black;
}

.gameBoard-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.square {
    border: 5px solid black;
    font-size: 100px;
    text-align: center;
}

.winnerText {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}